@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

/* =========================
   ROOT — LIGHT MODE (default)
========================= */
:root {
  --color-blue: #5C7E97;
  --color-light-green: #3B7542;
  --color-nav-bottom: #5C7E97;
  --color-med-green: #26572A;
  --color-dark-green: #0C2D0E;
  /* beige */
  --color-footer: #DDDAD5;
  --color-border: rgba(221, 218, 213, 0.3);
  --color-hero-border: #26572A;
  --color-header-text: #111111;
  --color-bg: #FFFFFF;
  --color-services-bg: #F2F2F0;
  --color-text: #111111;
  --color-bg-secondary: #f4f2ee;
  --color-bg-hover: #eceae5;

  --color-form-border: var(--color-dark-green);
  color-scheme: light dark;
  font-family: 'Montserrat', sans-serif;
  --color-bg-hero-top: rgba(221, 218, 213, 0.3);
}

.dark-logo {
  display: none;
}
/* =========================
   ROOT — DARK MODE
========================= */
@media (prefers-color-scheme: dark) {
  :root {
    --color-blue: #7B9CB5;
    --color-light-green: #5C9A64;
    --color-med-green: #3D7A42;
    --color-dark-green: #1A4A1E;  
    --color-border: #26572A;
    --color-hero-border: #26572A;
    --color-nav-bottom: #26572A;
    --color-header-text: #FFFFFF;
    --color-footer-header: #000000;
    --color-footer: #2A2A28;
    --color-bg-hero-top: rgba(30, 77, 30, 0.25);
    --color-form-border: var(--color-light-green);
    --color-bg: #121212;
    --color-text: #EDEDED;
    --color-bg-secondary: #1a1a1a;
    --color-bg-hover: #222222;
  }

  .light-logo {
    display: none;
  }
  .dark-logo {
    display: block;
  }
}

/* =========================
   RESET
========================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =========================
   BASE
========================= */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.4;
  background: var(--color-bg);
  color: var(--color-text);
  min-height: 100vh;
}

button {
  font: inherit;
}